body {
  background-color: #D8D8D8;
}
.hidden {
  display: none !important;
}
.menu_icon > img {
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  padding: 0;
  margin: 0;
}
.menu_icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
  top: -2px;
}
.menu_icon.selected {
  background-color: #44A;  
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.bar {
  width: 1px;
  height: 16px;
  position: relative;
  top: 2px;
  background-color: #999;
  display: inline-block;
}
.inline {
  display: inline;
}
.textbox {
  cursor: not-allowed;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  -webkit-border-radius: 4px;  
  -moz-border-radius: 4px;  
  border-radius: 4px;  
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  overflow: auto;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera old */   
  white-space: -o-pre-wrap;   /* Opera 7 */ 
  word-wrap: break-word;      /* IE */
  text-align: left;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}
.textbox:hover {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
